.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
*.db
*.db-shm
*.db-wal
.env
murmur.db
murmur.yaml
murmur.yml
.murmur.yaml
.murmur.yml
